@using Syncfusion.EJ2.Grids
@using Syncfusion.EJ2
@model PujcovadloServer.Areas.Admin.Responses.ReviewResponse

@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Reviews"];
}

<ejs-grid id="Grid" allowPaging="true" allowSorting="true" allowFiltering="true" toolbar="@(new List<string>() { "Search" })"
          actionComplete="gridActionComplete" dataBound="gridDataBound">
    <e-data-manager url="@Url.Action("IndexFilter", "Review")" adaptor="UrlAdaptor">
    </e-data-manager>
    <e-grid-pagesettings pageSize="20" pageSizes="new int[] { 2, 5, 10, 20, 50, 100 }"></e-grid-pagesettings>
    <e-grid-aggregates>
        <e-grid-aggregate>
            <e-aggregate-columns>
                <e-aggregate-column field="Rating" type="Average"></e-aggregate-column>
            </e-aggregate-columns>
        </e-grid-aggregate>
    </e-grid-aggregates>
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-columns>
        <e-grid-column field="Id" headerText="@Localizer["Id"].Value" textAlign="Center" width="50"
                       validationRules="@(new { required = true })" isPrimaryKey="true">
        </e-grid-column>

        <e-grid-column field="LoanId" headerText="@Localizer["Loan"].Value" foreignKeyField="Id"
                       foreignKeyValue="Id" width="130" textAlign="Center" template="#loanTemplate">
            <e-data-manager url="@Url.Action("IndexFilter", "Loan")" adaptor="UrlAdaptor">
            </e-data-manager>
        </e-grid-column>

        <e-grid-column field="AuthorId" headerText="@Localizer["Author"].Value" foreignKeyField="Id"
                       foreignKeyValue="Name" width="130" textAlign="Center" template="#ownerTemplate">
            <e-data-manager url="@Url.Action("IndexFilter", "User")" adaptor="UrlAdaptor"></e-data-manager>
        </e-grid-column>

        <e-grid-column field="Rating" headerText="@Localizer["Rating"].Value" width="50" template="#ratingTemplate"></e-grid-column>
        <e-grid-column field="Comment" headerText="@Localizer["Comment"].Value" width="200" template="#commentTemplate"></e-grid-column>

        <e-grid-column field="CreatedAt" headerText="@Localizer["Created at"].Value" type="date" editType="datepickeredit" format="dd.MM.yyyy" width="100" textAlign="Center"></e-grid-column>
        <e-grid-column headerText="@Localizer["Actions"].Value" width="130" template="#actionsTemplate"></e-grid-column>

    </e-grid-columns>
</ejs-grid>

<script id="ratingTemplate" type="text/x-template">
     <span class="badge bg-warning">${Rating}</span>
</script>

<script id="commentTemplate" type="text/x-template">
    ${if(Comment != null && Comment.length > 0)}
        <p>${Comment}</p>
    ${/if}
</script>

<script id="ownerTemplate" type="text/x-template">
    <a href="${editUserLink(AuthorId)}">${(data.foreignKeyData.Name)}</a>
</script>

<script id="loanTemplate" type="text/x-template">
    <a href="${editLoanLink(LoanId)}">@Localizer["Loan"] #${LoanId}</a>
</script>

<script id="actionsTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration me-1" href="${editReviewLink(Id)}"
        data-bs-toggle="tooltip" data-bs-placement="top" title="@Localizer["Edit review"].Value">
            <i class="bi bi-pen"></i>
        </a>
        
        <form action="${deleteReviewLink(Id)}" method="post">
                <input type="hidden" name="id" value="${Id}"/>
            
                <!-- Include the AntiForgeryToken -->
                @Html.AntiForgeryToken()
            
            <button type="submit" class="btn btn-sm btn-danger" 
                onclick="return confirm(&quot; @Localizer["Are you sure you want to delete this record?"].Value &quot;)"
                data-bs-toggle="tooltip" data-bs-placement="top" title="@Localizer["Delete review"].Value">
                <i class="bi bi-trash"></i>
            </button>
        </form>
    </div>
</script>

@section Scripts{
    <script>
        function gridDataBound(args){
            reloadTooltips();
        }
    
        function gridActionComplete(args) {  
            reloadTooltips();
        }
    </script>

    <script>
        function editReviewLink(id) {
            let url = '@Url.Action("Edit", "Review", new { id = "id" })';
            return url.replace("id", id);
        }
        
        function deleteReviewLink(id){
            let url = '@Url.Action("Delete", "Review", new { id = "id" })';
            return url.replace("id", id);
        }
        
        function editUserLink(id){
            let url = '@Url.Action("Edit", "User", new { id = "id" })';
            return url.replace("id", id);
        }

        function editLoanLink(id){
            let url = '@Url.Action("Edit", "Loan", new { id = "id" })';
            return url.replace("id", id);
        }
    </script>
}