@using Syncfusion.EJ2.Grids
@using Syncfusion.EJ2
@model PujcovadloServer.Areas.Admin.Responses.ItemTagResponse

@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Item tags"];
}

@section Toolbar{
    <ejs-button id="create" cssClass="e-primary me-2" iconCss="bi bi-plus" content="@Localizer["Add new tag"].Value"
                isPrimary="true">
    </ejs-button>

    <script>
        document.getElementById('create').onclick = function () {
            window.location.href='@Url.Action("Create", "ItemTag")';
        };
    </script>
}

<ejs-grid id="Grid" allowPaging="true" allowSorting="true" allowFiltering="true" toolbar="@(new List<string>() { "Search" })"
          actionComplete="gridActionComplete" dataBound="gridDataBound">
    <e-data-manager url="@Url.Action("IndexFilter", "ItemTag")" adaptor="UrlAdaptor">
    </e-data-manager>
    <e-grid-pagesettings pageSize="20" pageSizes="new int[] { 2, 5, 10, 20, 50, 100 }"></e-grid-pagesettings>
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-columns>
        <e-grid-column field="Id" headerText="@Localizer["Id"].Value" textAlign="Center" width="50"
                       validationRules="@(new { required = true })" isPrimaryKey="true">
        </e-grid-column>
        <e-grid-column field="Name" headerText="@Localizer["Name"].Value" width="300" template="#tagNameTemplate"></e-grid-column>
        <e-grid-column field="IsApproved" headerText="@Localizer["Is approved"].Value" width="50" textAlign="Center"
                       type="boolean" displayAsCheckBox="true">
        </e-grid-column>

        <e-grid-column headerText="@Localizer["Actions"].Value" width="50" template="#actionsTemplate" textAlign="Center"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<script id="tagNameTemplate" type="text/x-template">
    <span class="badge bg-secondary">${Name}</span>
</script>

<script id="actionsTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration me-1" href="${editLink(Id)}"
            data-bs-toggle="tooltip" data-bs-placement="top" title="@Localizer["Edit tag"].Value">
            <i class="bi bi-pen"></i>
        </a>
        
        <form action="${deleteLink(Id)}" method="post">
                <input type="hidden" name="id" value="${Id}"/>
            
                <!-- Include the AntiForgeryToken -->
                @Html.AntiForgeryToken()
            
            <button type="submit" class="btn btn-sm btn-danger" 
                onclick="return confirm(&quot; @Localizer["Are you sure you want to delete this record?"].Value &quot;)"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="@Localizer["Delete tag"].Value">
                <i class="bi bi-trash"></i>
            </button>
        </form>
    </div>
</script>

@section Scripts{
    <script>
    function gridDataBound(args){
        reloadTooltips();
    }
    
    function gridActionComplete(args) {  
        reloadTooltips();
    }
    </script>

    <script>
        function editLink(id) {
            let url = '@Url.Action("Edit", "ItemTag", new { id = "id" })';
            return url.replace("id", id);
        }
        
        function deleteLink(id){
            let url = '@Url.Action("Delete", "ItemTag", new { id = "id" })';
            return url.replace("id", id);
        }
    </script>
}