@using PujcovadloServer.Business.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PujcovadloServer.Areas.Admin.Requests.ItemCategoryRequest
@inject IStringLocalizer<ItemStatus> StatusLocalizer

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Id == null ? Localizer["Create new category"] : Localizer["Edit category"].Value + ": " + Model.Name;

    string action = Model.Id == null ? "Create" : "Edit";
}

@section Toolbar{
    <ejs-button id="back" cssClass="e-secondary e-flat me-2" iconCss="bi bi-arrow-left-square-fill" content="@Localizer["Back"].Value"></ejs-button>

    <ejs-button id="save" cssClass="e-primary me-2" iconCss="bi bi-save" content="@Localizer["Save changes"].Value"
                isPrimary="true" form="item-form">
    </ejs-button>

    <script>
        document.getElementById('back').onclick = function () {
            window.location.href='@Url.Action("Index", "ItemCategory")';
        };
        
        document.getElementById('save').onclick = function () {
            document.getElementById('item-category-form').submit();
        };
    </script>
}

<form asp-action="@action" asp-controller="ItemCategory" id="item-category-form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 m-2">
                <div class="card card-primary card-outline mb-4">
                    <div class="card-header">
                        <div class="card-title">@Localizer["Base information"]</div>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group mb-3">
                            <ejs-textbox ejs-for="Name" id="name" placeholder="@Localizer["Name"].Value"
                                         floatLabelType="Always">
                            </ejs-textbox>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <ejs-textbox ejs-for="Alias" id="alias" placeholder="@Localizer["Alias"].Value"
                                         floatLabelType="Always">
                            </ejs-textbox>
                            <span asp-validation-for="Alias" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <ejs-dropdownlist id="dlParentId" dataSource="@ViewBag.Categories" placeholder="@Localizer["Parent"].Value"
                                              popupHeight="220px" ejs-for="ParentId" floatLabelType="Always"
                                              allowFiltering="true" filterType="Contains">
                                <e-dropdownlist-fields value="Id" text="Name"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                            <span asp-validation-for="ParentId" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <ejs-textbox ejs-for="Description" id="description" placeholder="@Localizer["Description"].Value"
                                         floatLabelType="Always" multiline="true">
                            </ejs-textbox>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}