@using PujcovadloServer.Business.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PujcovadloServer.Areas.Admin.Requests.ItemCategoryRequest
@inject IStringLocalizer<ItemStatus> StatusLocalizer

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Id == null ? Localizer["Create new category"] : Localizer["Edit category"].Value + ": " + Model.Name;

    string action = Model.Id == null ? "Create" : "Edit";
}

<form asp-action="@action" asp-controller="ItemCategory" id="item-category-form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mb-3">
                    <ejs-textbox ejs-for="Name" id="name" placeholder="@Localizer["Name"].Value"
                                 floatLabelType="Always">
                    </ejs-textbox>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <ejs-textbox ejs-for="Alias" id="alias" placeholder="@Localizer["Alias"].Value"
                                 floatLabelType="Always">
                    </ejs-textbox>
                    <span asp-validation-for="Alias" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <ejs-dropdownlist id="dlParentId" placeholder="@Localizer["Parent"].Value"
                                      popupHeight="220px" ejs-for="ParentId" floatLabelType="Always"
                                      allowFiltering="true" filterType="Contains" showClearButton="true">
                        <e-data-manager adaptor="UrlAdaptor" url="@Url.Action("IndexFilter", "ItemCategory")" crossDomain="false"></e-data-manager>
                        <e-dropdownlist-fields value="Id" text="Name"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="ParentId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <ejs-textbox ejs-for="Description" id="description" placeholder="@Localizer["Description"].Value"
                                 floatLabelType="Always" multiline="true">
                    </ejs-textbox>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="container-fluid">
    <div class="btn-toolbar form-toolbar mb-md-4 mb-sm-2">
        <ejs-button id="save" cssClass="e-primary me-2" iconCss="bi bi-save" content="@Localizer["Save changes"].Value"
                    isPrimary="true">
        </ejs-button>

        <ejs-button id="back" cssClass="e-link me-2" iconCss="bi bi-x" content="@Localizer["Cancel"].Value"></ejs-button>

        <script>
            document.getElementById('back').onclick = function () {
                window.location.href='@Url.Action("Index", "ItemCategory")';
            };
            
            document.getElementById('save').onclick = function () {
                document.getElementById('item-category-form').submit();
            };
        </script>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}